@import 'assets/styles/common'

.burger
  position: relative
  height: 70px
  width: 70px

.burger__btn
  width: 100%
  height: 100%
  cursor: pointer

.burger__line
  display: block
  width: 40px
  height: 2px
  background-color: $accent-text-color-dark
  position: absolute
  left: 15px
  border-radius: 1px
  transition: $simple-transition

.burger__btn:hover .burger__line
  background-color: $accent-text-color-light

.burger__line--top
  top: 22px
  opacity: 1

.burger__line--center
  top: 50%
  transform-origin: center
  margin-top: -1px

.burger__line--bottom
  bottom: 22px
  opacity: 1

.burger__btn--close

  .burger__line--top,
  .burger__line--bottom
    opacity: 0

  .burger__line--to-right
    transform: rotate(45deg)

  .burger__line--to-left
    transform: rotate(-45deg)

.burger__obfuscator
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.15)
  position: absolute
  top: 0
  right: 0
  z-index: -1
  transition: $simple-transition

.burger__obfuscator--closed
  background-color: rgba(0, 0, 0, 0)
  transform: translateX(110vw)

.burger__menu
  position: absolute
  top: 0
  right: 0
  background-color: $main-bg-color-light
  width: 270px
  height: 100vh
  padding-top: 91px

.burger__link-item
  display: block
  height: 36px
  line-height: 34px
  border-bottom: 1px solid transparentize($accent-text-color-dark, 0.8)
  border-top: 1px solid transparentize($accent-text-color-dark, 0.8)
  margin-top: -1px
  padding: 0 20px
  transition: $simple-transition

  &:hover
    background-color: #adb5bd
    box-shadow: $box-shadow-active-inset

.burger__link-item--active
  background-color: #adb5bd
  text-decoration: underline

.burger__link
  display: block
  height: 100%
  color: $main-text-color-dark
  text-decoration: none
  font-weight: 400

